//
// Blueprint & Code
//

$link-color: #b91c1c;

$btn-primary-color: #b91c1c;

$sidebar-color: #ffffff;

$body-background-color: #ffffff;

$body-text-color: #374151;

$body-heading-color: #111827;

$nav-child-link-color: #4b5563;

$border-color: #e5e7eb;

$search-background-color: #ffffff;

$search-result-preview-color: #6b7280;

$code-background-color: #f8fafc;

$feedback-color: #f9fafb;

$nav-width: 310px;

$content-width: 1050px;
